<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/styles_icones.css">
        <link rel="stylesheet" href="assets/css/styles_header.css">
        <link rel="stylesheet" href="assets/css/styles_footer.css">
        <title>Elec Ω</title>
        
    </head>
    <body>
        <%- include('header') %>
        <main>
            <p>Demande de contact:</p>
        </main>
        <%- include('footer') %>
    </body>
</html>