<header>
    <nav>
        <div class="nav-wrapper">
            <img id="logo" src="assets/images/logoElecOmega.png" alt="Logo ElecOmega">
            <input type="checkbox" id="menu-checkbox" class="menu-checkbox" />
            <label for="menu-checkbox" class="menu-toggle">&#9776; Menu</label>
            <ul class="menu">        
                <li><a href="/">Accueil</a></li>
                <li class="dropMenu">
                    Prestations
                    <!--sous-menu-->
                    <ul class="subMenu">
                        <li><a href="/installations">Installations</a></li>
                        <li><a href="/depannage">Dépannage</a></li>
                        <li><a href="/maintenance">Maintenance</a></li>
                        <li><a href="/piscines">Piscines</a></li>
                    </ul>
                </li>
            
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="title"> 
        <h1>Elec </h1>
    </div>
</header>