:root{ --yellow: #FFCC00; }

body{ width: 100%; }

.contact{
    width: 100%;
    height: 100%;
    background: url("../images/fondContact_elecOmega.jpg"), no-repeat ;
    background-size: 100%;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form{
    width: 500px;
    margin-left: 50%;
}

form{ margin-left: 15%; }

h2{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 100px;
}

input{ height: 25px;}

input, textarea{
    display: block;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid black;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

input[type="submit"]{
    font-size: 1.2em;
    width: 200px;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

input[type="submit"]:hover{
    font-size: 1.2em;
    width: 200px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

/*---------------------*\
    @MEDIA
\*---------------------*/
@media screen and (max-width: 1024px){
    
}



