:root{
   --yellow: #FFCC00;
   --grey: #999999;
}

body{ width: 100%; }

.container{
   width: 100%;
   margin: auto;
}

.container p{
   padding: 5px;
   margin: auto;
   width: 80%;
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
}

.container h2{
   text-align: center;
   font-size: 2em;
   text-transform: uppercase;
   margin-top: 100px;
}

.presentation{
   display: flex;
   margin: 50px;
}

.presentation h2{ margin-top: 30px; }

.presentation img{
   width: 550px;
   height: 500px;
}

.prestations{
   display: flex;
   margin: 50px;
   justify-content: space-around;
   background-color: var(--yellow);
   padding: 20px;
}

.prestations img{
   width: 200px; 
   height: auto;
   transition: .3s ease-in-out !important;
}

/*arrondi l'image au survol*/
.prestations img:hover{
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

a{ text-decoration: none; }

figcaption{
   text-align: center;
   color: black;
   font-weight: bold;
}

.engagements{
   display: flex;
   margin: 50px;
   justify-content: space-around; 
   padding: 20px;
}

.engagements figure img{
   padding: 30px;
   border: var(--grey)solid 2px;
   border-radius: 100px;
}

.engagements div{
    border: 3px var(--yellow) solid;
    border-radius: 30px;
    width: 30%;
    text-align: center;
}

/*---------------------*\
    @MEDIA
\*---------------------*/
@media screen and (max-width: 1024px){
   body{
      width: auto;
   }
   .container{
      width: 100%;
      margin: 0;
   }

   .container p{ font-size: 0.8em;    }

   .container h2{
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      margin-top: 20px;
   }

   .presentation{
      display: block;
      margin: 10px;
   }

   .presentation img{
      display: block;
      width: 250px;
      height: 250px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
   }

   .prestationsContainer{
      margin: 10px;
   }

   .prestations{
      display: block;
      margin: 10px;
      background-color: transparent;
      padding: 0;
      width: 100%;
   }
   
   .prestations> figure{
      padding: 10px;
      width: 200px; 
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid var(--yellow);
      border-radius: 30px;
   }

   .engagements{
      display: block;
      margin: 10px; 
      padding: 20px;
   }

   .engagements figure img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      border: var(--grey)solid 2px;
      border-radius: 100px;
   }
   
   .engagements div{
      margin: 10px auto 10px auto;
       border: 2px var(--yellow) solid;
       border-radius: 30px;
       width: 100%;
       text-align: center;
   }
}




