:root{
   --yellow: #FFCC00;
   --grey: #999999;
}

body{
   width: 100%;
}

.container{
   width: 90%;
   margin: auto;
}

.container p{
   padding: 10px;
   margin: auto;
   width: 80%;
   text-align: center;
   font-size: 1em;
}

.container h2{
   text-align: center;
   font-size: 2em;
   text-transform: uppercase;
   margin-top: 100px;
}

.presentation{
   display: flex;
   margin: 50px;
}

.paragraphe{
   margin-top: 100px;
}

.presentation img{
   width: 550px;
   height: 500px;
}

.prestations{
   display: flex;
   justify-content: space-around;
   background-color: var(--yellow);
   padding: 20px;
}

.prestations img{
   width: 150px; 
   height: 150px;
   border: var(--yellow) solid 2px;
}

a{
   text-decoration: none;
}


figcaption{
   text-align: center;
   color: black;
   font-weight: bold;
}

.prestations figcaption:hover{
   color: black;
   background-color: var(--yellow);
}

.engagements{
   display: flex;
   justify-content: space-around; 
   padding: 20px;
}

.engagements figure img{
   padding: 30px;
   border: var(--grey)solid 2px;
   border-radius: 100px;
}

.informations{
   display: flex;
   justify-content: space-around;
   background-color: var(--yellow);
}

.informations a{
   color: black;
}

.informations a:hover{
   font-weight: bold;
   color: white;
}

.address{
   margin-top: 50px;
}

.address p{
   width: 100%;
   font-size: 1em;
}




