<!DOCTYPE html>
<html lang='fr'>

<head>
    <meta charset="utf-8">
    <title>Elec Ω - Électricité et domotique - Dépannage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description"
        content="Elec Ω s'engage à améliorer votre confor au quotidien et vous propose le diagnostic et le dépannage de vos installations électriques et de vos portails.">

    <link rel="stylesheet" href="assets/css/styles_icones.css">
    <link rel="stylesheet" href="assets/css/styles_header.css">
    <link rel="stylesheet" href="assets/css/styles_depannage.css">
    <link rel="stylesheet" href="assets/css/styles_footer.css">


</head>

<body>
    <%- include('header') %>
    <main>
        <h2>Dépannage</h2>
        <div class="container">
            <div class="photos">
                <div>
                    <img src="assets/images/depannage1.jpg" id="elecCables" alt="cable et plan">
                </div>
                <div>
                    <img src="assets/images/depannage.jpg"  id="elecCompteur" alt="armoire à fusibles">
                </div>
            </div>
            <div class="text">
                <p>
                    Elec Ω s’engage à améliorer votre confort au quotidien et vous propose le
                    diagnostic et le dépannage de vos installations électriques et de vos portails.
                </p>
                <p>
                    Vous avez-la possibilité de réserver un créneau en ligne via notre formulaire de réservation 
                    qui vous sera confirmé par un technicien diagnostic.
                </p>
                <a href="/reservations">Réserver</a>
                <p>
                    Pour toute demande complémentaire concernant une intervention en dépannage,
                    vous avez la possibilité de nous contacter via notre formulaire de contact.
                    Une réponse vous sera faite dans les plus brefs délais.
                </p>
                <a href="/contact">Contacter</a>
            </div>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>