<footer>
    <div class="box">
        <div class="dsplay">
            <img class="logo" src="assets/images/logoElecOmega.png" alt="logo">
        </div>
        <div class="dsplay">
            <ul class="justify">
                <li>
                    <p class="patron">Kamel RGUIG</p>
                </li>
                <li>
                    <p>INFORMATIONS</p>
                </li>
                <li>
                    <a href="mailto:contact@elec-ohm.fr" title="mailclient">
                        <span class="icon-mail2">contact@elec-ohm.fr</span>
                    </a>
                </li>
                <li>
                    <a href="tel:07-81-13-33-94" title="telclient">
                        <span class="icon-phone">07-81-13-33-94</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown dsplay">
            <ul>
                <li class="prestationsFooter">
                    Prestations
                    <ul class="dropdown-content">
                        <li><a href="/installations">Installations</a></li>
                        <li><a href="/depannage">Dépannage</a></li>
                        <li><a href="/maintenance">Maintenance</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/reservations"><span class="icon-circle-right"></span>Réservation</a>
                </li>

                <li>
                    <a href="/contact"><span class="icon-circle-right"></span>Contact</a>
                </li>
                <li>
                    <a href="/mentionLegales"><span class="icon-circle-right"></span>Mention Légales</a>
                </li>
            </ul>
        </div>
        <div class="dsplay">
            <ul>
                <li class="suivez-nous">
                    <p>Suivez-nous !!</p>
                </li>
                <li class="dsplay">
                    <a href="#" title="lien facebook">
                        <span class="icon-facebook"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <p class="copyright">Copyright © .2021</p>
    </div>
</footer>