<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta 
            name="description" 
            content="Elec Ω vous accompagne dans tous vos projets, pour des missions d'installation, de maintenance et de dépannage" 
        >

        <link rel="stylesheet" href="assets/css/styles_icones.css">
        <link rel="stylesheet" href="assets/css/styles_header.css">
        <link rel="stylesheet" href="assets/css/styles_maintenance.css">
        <link rel="stylesheet" href="assets/css/styles_footer.css">
        <title>Elec Ω - Électricité et domotique</title>
        
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h2>Maintenance</h2>
            <div class="container"> 
                <div class="text">
                    <p>
                        C'est bien connu, il faut mieux prévenir que guérir. Et ce dicton est aussi valable pour votre 
                        installation électrique.
                    </p>
                    <p>
                        C'est pourquoi, afin de vous accompagner au mieux, Elec Ω vous propose ses services pour la maintenance 
                        électrique de vos différents appareillages et installations.
                    </p>
                    <p>
                        Alors n'hésitez pas à prendre rendez-vous pour une intervention rapide. 
                    </p>
                    <a href="/reservation">Réserver</a>
                    <p>
                        Ou à nous contactez pour nous faire part de votre demande 
                        de maintenance électrique et nous vous répondrons dans les meilleurs délais.
                    </p>
                    <a href="/contact">Contacter</a>

                </div>
                <div class="photos">
                    <img src="assets/images/elecOmegaMaintenance.jpeg" id="elecMateriel" alt="electricien avec son matériel">
                    <img src="assets/images/maintenanceElecOmega.jpeg" id="elecCompteur" alt="electricien testant un compteur">
                </div>
            </div>
        </main>
        <%- include('footer') %>
    </body>
</html>