/**My css footer**/

:root{ --yellow: #FFCC00; }

*{ font-family: Arial, Helvetica, sans-serif; }

footer{  
    margin-top:20px;
    margin-bottom: 20px;
    color:var(--yellow);
    background-color:black;   
}

footer .logo{
    width: 80px;
    height: 80px;
    border-radius: 30px;
    border: 2px solid var(--yellow);
    margin-left: 20px;  
    margin-top: 20px;
    margin-bottom: 20px;
}


footer li{
    list-style-type: none;
    margin-top:5px;
    margin-bottom: 5px; 
}

footer a{
    color:var(--yellow);
    text-decoration: none;
}

/**class*/

.justify{ text-align: justify; }

.patron{
    color:var(--yellow);
    font-family: fantasy;
    font-size: 20px;
    margin-bottom: 20px;  
}

.dsplay{
    display:inline-block;
    width: 24%;  
    margin-top:20px; 
}

.copyright{
     text-align: center;
     background-color:#f4f6f6;
     color:black;  
}
 
/*style du sous menu Prestations*/
.dropbtn {
    background-color: var(--yellow);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    text-align: justify;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    margin-top: -165px;
    border-radius: 6px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover { color: var(--yellow); }

.prestationsFooter:hover .dropdown-content { display: block; }
  
/* ajoute apres le texte de l'onglet un ▼ de 10px de taille*/
.dropdown .prestationsFooter::after{
    content: "▼";
    font-size: 10px;
}

.icon-facebook{
    font-size: 25px;
    margin-left: 35px;
}

/*---------------------*\
    @MEDIA
\*---------------------*/

@media screen and (max-width:1024px){
    
    footer{
        width: 100%;
        background-color: black;
        font-size: 11px;   
    }
    
    footer .logo{
        width: 65px;
        height: 65px;
        margin-left: 10px;  
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .justify{ padding-left: 5px; }

    .patron{
        font-size: 15px;
        margin-bottom: 10px; 
        margin-top: 5px; 
    }

    .dsplay{
        display:inline-block;
        width:97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        text-align: justify; 
    }

    .box {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-gap: 10px 2em;   
    }

    .dropdown-content {
        margin-top:-130px;
        margin-left:60px;
    }

    .suivez-nous{ display: none; }

    .icon-facebook{
        font-size: 15px;
        margin-left: 0;
    }

    footer ul{ padding-left: 5px; }
}


  
